// Reusable variables
$background: #F2F2F2;
$dark: #4B4B4B;
$light: #F2F2f2;
$medium: #6d6d6d;
$medium-light: #dcdcdc;
$primary: #C6232D;
$primary-light: #EF0E11;
$secondary: #0547A0;
$secondary-light: #0D6EF0;
