@import "../../styles/sass/styles";

.drawer-toggle-button {
  @include flex-even-column;
  height: 30px;
  width: 30px;
  position: relative;
  right: 40px;
  top: 10px;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }

  .line {
     background: $dark;
     height: 3px;
     width: 25px;
   }
}



@media only screen and (min-width: 769px){
  .drawer-toggle-button {
    display: none;
  }
}